@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

.content li {
  list-style-type: disc;
}

.content h1, .content h2, .content h3 {
  color: rgb(226, 232, 240);
  font-weight: bold;
  padding-top: 10px;
}

.content h1 {
  font-size: 2em; /* 2 times the base font size of the document */
}

.content h2 {
  font-size: 1.5em; /* 1.5 times the base font size of the document */
}

.content h3 {
  font-size: 1.2em; /* 1.2 times the base font size of the document */
}

.content a {
  color: #00cfbd;
}

.content strong {
  color: rgb(226, 232, 240);
}